# Use lockfile version 2
lockfile-version=2

# Strict peer dependencies
strict-peer-dependencies=false

# Auto install peers
auto-install-peers=true

# Shamefully hoist (for Nuxt compatibility)
shamefully-hoist=true

